body {
  background-color:lightsteelblue;

}
.carousel {
  overflow: hidden;
}
img {
  width:800px;
  height:600px;
}

.carousel-inner img {
     width: 800px; /* Set width to 100% */
     margin: auto;
     height:600px;
 }

.carousel-caption {
  color:hotpink;
  font-size: 30px;
  font-family: Montserrat;
}

.col-md-4 {
  font-size: 20px;
  padding:5px;
  margin-top: 10px;
  color: yellow;
  font-style: italic;
}
